/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 940px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .links {
	float: right;
	margin-top: 18px;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.content {
	padding: 0 15px;	 
}
.links li {
	display: inline-block;
	margin-left: 30px;

}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 600;
}
.top-navigation .links li:hover {
	color: black;
	cursor: pointer;
}
